[defaults]
inventory=./inventory
remote_user=student
vault_password_file=./new-vault-password
callbacks_enabled=timer,profile_tasks

[privilege_escalation]
become=true
become_method=sudo
become_user=root
become_ask_pass=false
